In [1]:
import pandas as pd

df = pd.read_csv('ETH-USD.csv')

In [3]:
df.head()

,date,symbol,average_usd_size,number_buys,number_sells,vwap,sell_total_volume,buy_total_volume,largest_trans_buy,largest_trans_sell,largest_trans_buy_usd,largest_trans_sell_usd,dollar_trans_size_usd_stdev
0,5/5/2023,ETHUSDT,1320.52,423365.0,380247.0,1947.13,264790.66,281818.22,319.43,594.63,618028.43,1180589.10,4224.09
1,5/4/2023,ETHUSDT,1275.36,269145.0,256657.0,1890.21,182400.66,172127.95,503.31,147.35,946223.36,281613.98,4427.78
2,5/3/2023,ETHUSDT,1159.19,398079.0,353500.0,1879.19,225436.17,239749.08,308.70,367.33,578194.35,678675.63,3434.83
3,5/2/2023,ETHUSDT,1225.52,291032.0,272736.0,1855.06,189314.10,184439.10,267.98,334.89,490407.06,624901.75,3850.49
4,5/1/2023,ETHUSDT,1264.03,327067.0,320721.0,1839.07,225004.37,220514.81,576.74,181.86,1058311.48,335442.70,4413.98

In [7]:
df_train = df[['date','average_usd_size']]
df_train = df_train.rename(columns={"date": "ds", "average_usd_size": "y"})
df_train = df_train.dropna()

In [8]:
df_train

           ds        y
0    5/5/2023  1320.52
1    5/4/2023  1275.36
2    5/3/2023  1159.19
3    5/2/2023  1225.52
4    5/1/2023  1264.03
5   4/30/2023  1226.03
6   4/29/2023  1029.96
7   4/28/2023  1281.51
8   4/27/2023  1441.31
9   4/26/2023  1434.02
10  4/25/2023  1328.38
11  4/24/2023  1211.10
12  4/23/2023  1382.46
13  4/22/2023  1365.63
14  4/21/2023  1503.28
15  4/20/2023  1400.83
16  4/19/2023  1385.98
17  4/18/2023  1361.95
18  4/17/2023  1318.04
19  4/16/2023  1271.72
20  4/15/2023  1334.38
21  4/14/2023  1588.18
22  4/13/2023  1462.73
23  4/12/2023  1491.86
24  4/11/2023  1311.35
25  4/10/2023  1392.18
26   4/9/2023   555.74
27   4/8/2023   408.50
28   4/7/2023   637.73
29   4/6/2023   811.20
30   4/5/2023   971.05
31   4/4/2023  1058.97
32   4/3/2023  1029.81
33   4/2/2023   910.94
34   4/1/2023   858.79

In [10]:
from neuralprophet import NeuralProphet

m = NeuralProphet()
m.fit(df_train, freq="D")

c:\Users\Nwachukwu Ujubuonu\scoop\apps\python\current\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Importing plotly failed. Interactive plots will not work.
Importing plotly failed. Interactive plots will not work.
WARNING - (NP.forecaster.fit) - When Global modeling with local normalization, metrics are displayed in normalized scale.
WARNING - (py.warnings._showwarnmsg) - c:\Users\Nwachukwu Ujubuonu\scoop\apps\python\current\Lib\site-packages\neuralprophet\df_utils.py:1152: FutureWarning: Series.view is deprecated and will be removed in a future version. Use ``astype`` as an alternative to change the dtype.
  converted_ds = pd.to_datetime(ds_col, utc=True).view(dtype=np.int64)

INFO - (NP.df_utils._infer_frequency) - Major frequency -1D corresponds to 97.143% of the data.
WARNING - (py.warnings._showwarnmsg) - c:\Users\Nwachukwu Ujubuonu\scoop\apps\python\current\Lib\site-packages\neuralprophet\df_utils.py:1152: FutureWarning: Series.view is deprecated and will be removed in a future version. Use ``astype`` as an alternative to change the dtype.
  converted_ds = pd.to_datetime(ds_col, utc=True).view(dtype=np.int64)

WARNING - (py.warnings._showwarnmsg) - c:\Users\Nwachukwu Ujubuonu\scoop\apps\python\current\Lib\site-packages\neuralprophet\df_utils.py:1152: FutureWarning: Series.view is deprecated and will be removed in a future version. Use ``astype`` as an alternative to change the dtype.
  converted_ds = pd.to_datetime(ds_col, utc=True).view(dtype=np.int64)

WARNING - (NP.df_utils._infer_frequency) - Defined frequency D is different than major frequency -1D
INFO - (NP.config.init_data_params) - Setting normalization to global as only one dataframe provided for training.
INFO - (NP.utils.set_auto_seasonalities) - Disabling yearly seasonality. Run NeuralProphet with yearly_seasonality=True to override this.
INFO - (NP.utils.set_auto_seasonalities) - Disabling daily seasonality. Run NeuralProphet with daily_seasonality=True to override this.
INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 8
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 380

Training: |          | 0/? [00:00<?, ?it/s]

WARNING - (NP.config.set_lr_finder_args) - Learning rate finder: The number of batches (5) is too small than the required number                     for the learning rate finder (203). The results might not be optimal.
WARNING - (py.warnings._showwarnmsg) - c:\Users\Nwachukwu Ujubuonu\scoop\apps\python\current\Lib\site-packages\pytorch_lightning\utilities\data.py:78: Trying to infer the `batch_size` from an ambiguous collection. The batch size we found is 8. To avoid any miscalculations, use `self.log(..., batch_size=batch_size)`.

WARNING - (py.warnings._showwarnmsg) - c:\Users\Nwachukwu Ujubuonu\scoop\apps\python\current\Lib\site-packages\pytorch_lightning\utilities\data.py:78: Trying to infer the `batch_size` from an ambiguous collection. The batch size we found is 3. To avoid any miscalculations, use `self.log(..., batch_size=batch_size)`.

Finding best initial lr: 100%|██████████| 203/203 [00:01<00:00, 140.67it/s]

Training: |          | 0/? [00:14<?, ?it/s, v_num=0, train_loss=0.0127, reg_loss=0.000, MAE=89.50, RMSE=110.0, Loss=0.0119, RegLoss=0.000]

     train_loss  reg_loss         MAE         RMSE      Loss  RegLoss  epoch
0      0.472048       0.0  834.820129  1023.355103  0.457104      0.0      0
1      0.453213       0.0  854.171265  1023.925171  0.488369      0.0      1
2      0.437297       0.0  813.184448   947.413757  0.448649      0.0      2
3      0.420357       0.0  753.101257   872.470093  0.393114      0.0      3
4      0.405861       0.0  715.431458   878.028137  0.379664      0.0      4
..          ...       ...         ...          ...       ...      ...    ...
375    0.012743       0.0   99.533066   123.503700  0.014558      0.0    375
376    0.012745       0.0   90.946297   110.109756  0.012136      0.0    376
377    0.012743       0.0   89.490288   110.052956  0.012183      0.0    377
378    0.012737       0.0   97.960960   121.055603  0.014295      0.0    378
379    0.012738       0.0   89.510330   110.003639  0.011905      0.0    379

[380 rows x 7 columns]

In [11]:
future = m.make_future_dataframe(df_train, periods=30)
forecast = m.predict(future)
forecast = forecast.rename(columns={"ds": "Date", "yhat1": "Close"})
forecast

WARNING - (py.warnings._showwarnmsg) - c:\Users\Nwachukwu Ujubuonu\scoop\apps\python\current\Lib\site-packages\neuralprophet\df_utils.py:1152: FutureWarning: Series.view is deprecated and will be removed in a future version. Use ``astype`` as an alternative to change the dtype.
  converted_ds = pd.to_datetime(ds_col, utc=True).view(dtype=np.int64)

INFO - (NP.df_utils._infer_frequency) - Major frequency -1D corresponds to 97.143% of the data.
WARNING - (py.warnings._showwarnmsg) - c:\Users\Nwachukwu Ujubuonu\scoop\apps\python\current\Lib\site-packages\neuralprophet\df_utils.py:1152: FutureWarning: Series.view is deprecated and will be removed in a future version. Use ``astype`` as an alternative to change the dtype.
  converted_ds = pd.to_datetime(ds_col, utc=True).view(dtype=np.int64)

WARNING - (py.warnings._showwarnmsg) - c:\Users\Nwachukwu Ujubuonu\scoop\apps\python\current\Lib\site-packages\neuralprophet\df_utils.py:1152: FutureWarning: Series.view is deprecated and will be removed in a future version. Use ``astype`` as an alternative to change the dtype.
  converted_ds = pd.to_datetime(ds_col, utc=True).view(dtype=np.int64)

WARNING - (NP.df_utils._infer_frequency) - Defined frequency D is different than major frequency -1D
INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column
WARNING - (py.warnings._showwarnmsg) - c:\Users\Nwachukwu Ujubuonu\scoop\apps\python\current\Lib\site-packages\neuralprophet\df_utils.py:1152: FutureWarning: Series.view is deprecated and will be removed in a future version. Use ``astype`` as an alternative to change the dtype.
  converted_ds = pd.to_datetime(ds_col, utc=True).view(dtype=np.int64)

INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 96.667% of the data.
WARNING - (py.warnings._showwarnmsg) - c:\Users\Nwachukwu Ujubuonu\scoop\apps\python\current\Lib\site-packages\neuralprophet\df_utils.py:1152: FutureWarning: Series.view is deprecated and will be removed in a future version. Use ``astype`` as an alternative to change the dtype.
  converted_ds = pd.to_datetime(ds_col, utc=True).view(dtype=np.int64)

WARNING - (py.warnings._showwarnmsg) - c:\Users\Nwachukwu Ujubuonu\scoop\apps\python\current\Lib\site-packages\neuralprophet\df_utils.py:1152: FutureWarning: Series.view is deprecated and will be removed in a future version. Use ``astype`` as an alternative to change the dtype.
  converted_ds = pd.to_datetime(ds_col, utc=True).view(dtype=np.int64)

INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D
WARNING - (py.warnings._showwarnmsg) - c:\Users\Nwachukwu Ujubuonu\scoop\apps\python\current\Lib\site-packages\neuralprophet\df_utils.py:1152: FutureWarning: Series.view is deprecated and will be removed in a future version. Use ``astype`` as an alternative to change the dtype.
  converted_ds = pd.to_datetime(ds_col, utc=True).view(dtype=np.int64)

INFO - (NP.df_utils._infer_frequency) - Major frequency D corresponds to 96.667% of the data.
WARNING - (py.warnings._showwarnmsg) - c:\Users\Nwachukwu Ujubuonu\scoop\apps\python\current\Lib\site-packages\neuralprophet\df_utils.py:1152: FutureWarning: Series.view is deprecated and will be removed in a future version. Use ``astype`` as an alternative to change the dtype.
  converted_ds = pd.to_datetime(ds_col, utc=True).view(dtype=np.int64)

WARNING - (py.warnings._showwarnmsg) - c:\Users\Nwachukwu Ujubuonu\scoop\apps\python\current\Lib\site-packages\neuralprophet\df_utils.py:1152: FutureWarning: Series.view is deprecated and will be removed in a future version. Use ``astype`` as an alternative to change the dtype.
  converted_ds = pd.to_datetime(ds_col, utc=True).view(dtype=np.int64)

INFO - (NP.df_utils._infer_frequency) - Defined frequency is equal to major frequency - D

Predicting DataLoader 0: 100%|██████████| 1/1 [00:00<00:00, 249.96it/s]

INFO - (NP.df_utils.return_df_in_original_format) - Returning df with no ID column

         Date     y        Close        trend  season_weekly
0  2023-05-06  None   994.721558  1160.801392    -166.079834
1  2023-05-07  None  1051.802002  1146.471191     -94.669167
2  2023-05-08  None  1155.237549  1132.140869      23.096731
3  2023-05-09  None  1154.579102  1117.810547      36.768562
4  2023-05-10  None  1170.498535  1103.480225      67.018410
5  2023-05-11  None  1159.828247  1089.149902      70.678398
6  2023-05-12  None  1138.260498  1074.819580      63.441036
7  2023-05-13  None   894.372437  1060.489258    -166.116852
8  2023-05-14  None   951.438538  1046.158936     -94.720421
9  2023-05-15  None  1054.991455  1031.828613      23.162718
10 2023-05-16  None  1054.263550  1017.498352      36.765205
11 2023-05-17  None  1070.234131  1003.168030      67.066078
12 2023-05-18  None  1059.493896   988.837708      70.656212
13 2023-05-19  None  1037.951294   974.507385      63.443832
14 2023-05-20  None   794.091309   960.177124    -166.085785
15 2023-05-21  None   850.896851   945.846802     -94.949944
16 2023-05-22  None   954.613464   931.516479      23.096968
17 2023-05-23  None   953.889160   917.186157      36.703083
18 2023-05-24  None   969.969421   902.855835      67.113663
19 2023-05-25  None   959.206238   888.525513      70.680717
20 2023-05-26  None   937.267944   874.195251      63.072693
21 2023-05-27  None   693.742126   859.864929    -166.122803
22 2023-05-28  None   750.533325   845.534546     -95.001205
23 2023-05-29  None   854.367249   831.204346      23.162935
24 2023-05-30  None   853.515015   816.873962      36.641014
25 2023-05-31  None   869.608948   802.543701      67.065239
26 2023-06-01  None   858.918701   788.213379      70.705345
27 2023-06-02  None   837.320679   773.883057      63.437557
28 2023-06-03  None   593.460999   759.552734    -166.091766
29 2023-06-04  None   650.458984   745.222412     -94.763428

In [12]:
import pickle
with open('neuralProphet.pkl', "wb") as f:
    pickle.dump(m, f)